<template>
  <div>
    <text-field type="text" v-model="inputText" :value="inputText"></text-field>
    <button class="searchButton" @click="onSearchClick()"></button>
    <div class="bandContainer">
      <div v-for="performer in performers" v-bind:key="performer">
        <div>{{performer.id}}</div>
        <div>{{performer.name}}</div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./Home.ts"></script>
<style lang="scss" src="./Home.scss"></style>
