<template>
    <div class="textField">
        <input
                ref="inputField"
                v-model="value"
                :autofocus="autofocus"
                :placeholder="placeholder"
                :readonly="readonly"
                :required="required"
                :type="type"
                :min="min"
                class="inputField"
                step="1"
                onClick="this.select()"
                @focusout="$emit('blur')"
                @blur="$emit('input-out')"
                @input="$emit('input', value)">
    </div>
</template>
<script lang="ts" src="./TextField.ts"/>
<style lang="scss" scoped>
    input {
        width: 100%;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
</style>
